.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.modal.active{
    opacity: 1;
    pointer-events: all;
}

 /* ________________________________________LARGE_________________________________ */
  
.modal__content-large {
    padding: 12px;
    border-radius: 13px;
    background-color: rgb(255, 255, 255);
    height: 75vh;
    width: 80vw;
    transform: scale(0.5);
    transition: 0.5s;
}

.modal__content-large.active {
    transform: scale(1);
}

.body-large{  
    justify-content: center; 
    height: 60vh;
    padding-top: 2vh; 
    padding-bottom: 5vh; 
    padding-left: 1vw; 
    padding-right: 0.5vw; 
    width: 100%;
    overflow: auto;
}

 /* ________________________________________MEDIUM_________________________________ */
  
.modal__content-medium {
    padding: 12px;
    border-radius: 13px;
    background-color: rgb(255, 255, 255);
    height: 60vh;
    width: 60vw;
    transform: scale(0.5);
    transition: 0.5s;
}

.modal__content-medium.active {
    transform: scale(1);
}
  
.body-medium{ 
    justify-content: center; 
    height: 45vh;
    padding-top: 2vh; 
    padding-bottom: 5vh; 
    padding-left: 1vh; 
    padding-right: 0.5vh; 
    width: 100%;
    overflow: auto;
}

 /* ________________________________________SMALL_________________________________ */
  
.modal__content-small {
    padding: 12px;
    border-radius: 13px;
    background-color: rgb(255, 255, 255);
    height: 40vh;
    width: 35vw;
    transform: scale(0.5);
    transition: 0.5s;
}

.modal__content-small.active {
    transform: scale(1);
}
  
.body-small{ 
    justify-content: center; 
    height: 22vh;
    padding-top: 2vh; 
    padding-bottom: 5vh; 
    padding-left: 1vh; 
    padding-right: 0.5vh; 
    width: 100%;
    overflow: auto;
}

/* ------------------ */

/*
*  STYLE 1
 */
.title{
    display: flex;    
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 1vh; 
}


 .modal__close{
    background-color: transparent;
    border-color: transparent; 
}

.modal__close:hover{ 
    background-color: rgb(247, 247, 247);
    border-color: transparent;
    border-radius: 100% ;
    transition: 0.5s;
}

.footer{
    float: right; 
    position: absolute;
    bottom: 2vh;
    right: 2vh;
}

 .body::-webkit-scrollbar-track
 {
     -webkit-box-shadow: inset 0 0 0px rgba(241, 241, 241, 0.3);
     border-radius: 10px;
     background-color: #ffffff;
 }
 
 .body::-webkit-scrollbar
 {
     width: 12px;
     background-color: #ffffff;
 }
 
.body::-webkit-scrollbar-thumb
 {
     border-radius: 10px;
     /* -webkit-box-shadow: inset 0 0 6px rgba(153, 153, 153, 0.3); */
     background-color: rgb(148, 148, 148);
 }
 
